@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=PT+Serif:ital,wght@0,700;1,700&display=swap";
h2 {
  color: blue; }

h1 {
  color: #f1f1f0; }

.titulo-1, .titulo-2, .titulo-3, .titulo-4 {
  color: blue; }

#titulo-1 {
  background: black;
  background: linear-gradient(90deg, #0d0e0e 0%, rgba(170, 176, 170, 0.316964) 0%, #393b3b 0%, rgba(166, 165, 157, 0) 100%, rgba(153, 168, 165, 0) 100%);
  justify-content: center;
  display: flex;
  margin: auto;
  padding: auto;
  font-family: 'Lora', serif;
  font-family: 'PT Serif', serif; }

#titulo-2 {
  background: #b1c4c3;
  background: linear-gradient(90deg, #0d0e0e 0%, rgba(170, 176, 170, 0.316964) 0%, #393b3b 0%, rgba(166, 165, 157, 0) 100%, rgba(153, 168, 165, 0) 100%);
  justify-content: center;
  display: flex;
  margin: auto;
  padding: auto;
  font-family: 'Lora', serif;
  font-family: 'PT Serif', serif; }

#titulo-3 {
  background: #b1c4c3;
  background: linear-gradient(90deg, #0d0e0e 0%, rgba(170, 176, 170, 0.316964) 0%, #393b3b 0%, rgba(166, 165, 157, 0) 100%, rgba(153, 168, 165, 0) 100%);
  justify-content: center;
  display: flex;
  margin: auto;
  padding: auto;
  font-family: 'Lora', serif;
  font-family: 'PT Serif', serif; }

#titulo-4 {
  background: #b1c4c3;
  background: linear-gradient(90deg, #0d0e0e 0%, rgba(170, 176, 170, 0.316964) 0%, #393b3b 0%, rgba(166, 165, 157, 0) 100%, rgba(153, 168, 165, 0) 100%);
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  padding: auto;
  font-family: 'Lora', serif;
  font-family: 'PT Serif', serif; }

a:hover {
  font-weight: bold;
  background-color: #7a7a7e;
  color: #646161;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none;
  display: block; }

a:visited {
  color: #6d6a6a; }

a:active {
  background-color: yellow;
  color: black; }

p::first-line {
  color: red;
  font-variant: small-caps; }

@media (max-inline-size: 768px) {
  .miestilo {
    background-color: red; } }
